html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: myFirstFont;
  src: url(/misc/KGBlankSpaceSketch.ttf);
}

#nav-buttons {
  background-color: rgba(9, 235, 235, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1vw;
  font-size: large;
  font-weight: 500;
  font-family: myFirstFont;
  border-color: rgba(240, 248, 255, 0);
  white-space: nowrap;
}

#nav-brand {
  color: rgb(255, 255, 255);
  font-family: myFirstFont;
  font-size: xx-large;
  font-weight: bold;
}

#nav-buttons:hover {
  border-color: rgb(255, 255, 255);
}

#navbarTogglerDemo01 {
  justify-content: end;
}

.container {
  font-family: bicyclette;
  position: relative;
  color: white;
  font-size: 3.25rem;
  white-space: nowrap;
  letter-spacing: 2px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0%;
  padding: 0%;
  margin-bottom: 5px;
  margin-top: 8px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.378)100%, rgba(0, 0, 0, 0) 30%), url("/images/bg.png");

}

body,
td {
  font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

h2 {
  font-family: sans-serif;
  position: relative;
  text-align: center;
  color: black;
  font-style: Fantasy;
}

p {
  font-family: serif;
  color: black;
  font-stretch: expanded;
  font-style: oblique;
  font-weight: bold;
}

h3 {
  font-family: sans-serif;
  position: relative;
  text-align: center;
  color: black;
}

.form {
  margin: 10%;
  padding: 10%;
  margin-bottom: 5px;
  margin-top: 8px;
  background-color: hsla(50, 33%, 25%, .75);

}

.button {
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button-1 {
  background-color: black;
  border: 3px solid #7BAFB0;
  border-radius: 100px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
}

.button-1:hover {
  box-shadow: 0 0 20px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}


figure {
  background: black;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  cursor: pointer;
  position: relative;
}

figcaption {
  color: whitesmoke;
  font-size: 25px;
  position: relative;
  top: 1px;
  font-family: 'Brush Script MT', cursive;
}

figcaption h4 {
  color: white;
  font-size: 15px;
  position: absolute;

}

figure img {
  display: block;
  width: 400px;
  height: 400px;
}

figure:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}